<?php
/**
 * @var IBL\Block\Adminhtml\Auth\AltAuthMethods $block
 */
?>
<!--<div class="page-actions-buttons">
    <button title="SSO login" class="action-toggle secondary" data-toggle="dropdown" data-ui-id="sso-login-dropdown">

    </button>

    <ul class="dropdown-menu" data-ui-id="sso-login-dropdown-menu">
        <li>
            <span id="provider_1" title="Provider 1" class="item" data-ui-id="provider-1">Provider 1</span>
            <span id="provider_2" title="Provider 2" class="item" data-ui-id="provider-2">Provider 2</span>
            <span id="provider_3" title="Provider 3" class="item" data-ui-id="provider-3">Provider 3</span>
            <span id="provider_4" title="Provider 4" class="item" data-ui-id="provider-4">Provider 4</span>
        </li>
    </ul>
</div>-->

<?php foreach ($block->getActiveProviders() as $provider): ?>
    <a href="<?php echo $provider->getStartSingleSignOnUrl() ?>">
        <button class="action-start-sso start-sso-provider-<?php echo $provider->getCode() ?> action-secondary">
            <?php echo __('Log in with %1', $provider->getName()) ?>
        </button>
    </a>
<?php endforeach; ?>